<div class="container">

  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @user%>
      <%= form_with(model: @user, class: "form-horizontal shadow-lg mb-3 p-3 bg-info rounded", local: true) do |form| %>
        <div class="input-group mb-3 pr-5 pt-3 row">
        	<%= form.label :username, class: "col-2 pl-4 col-form-label text-light" %>
          <div class="col-10">
        	 <%= form.text_field :username, class: "form-control shadow rounded", placeholder: "Your username" %>
          </div>
        </div>

        
        <div class="input-group mb-3 row">
          <%= form.label :email, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
           <%= form.text_field :email, class: "form-control shadow rounded", placeholder: "example@mail.com" %>
          </div>
        </div>

        <div class="input-group mb-3 row">
          <%= form.label :password, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
           <%= form.password_field :password, class: "form-control shadow rounded"%>
          </div>
        </div>
        

        <div class="input-group justify-content-center mb-3">
          <%= form.submit class: "btn btn-outline-light btn-lg" %>
        </div>
        <div class="input-group mb-3 row"></div>
      <% end %>
    </div>
    <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-center text-info mb-3" %>
  </div>
</div>
